:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text',
    system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #f9fafb;
  background-color: #020617;
  background-image: url('./assets/polka_bkg_pattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #0d9488;
  text-decoration: none;
}

a:hover {
  color: #14b8a6;
}

button {
  font-family: inherit;
}
